.terminal-date-filter {
    display: flex;
    align-items: center;
    margin-right: 13px;

    &__block {
        margin-left: 16px;
        cursor: pointer;
        color: rgba(136, 142, 156, 0.7);
    }

    &__value {
        font-size: 12px;
        font-weight: bold;
    }

    &__block:hover {
        color: rgba(255, 255, 255, 0.7);
    }

    &__active {
        color: #fff;
    }
}