.button {
  width: 90px;
  height: 30px;
  outline: none;
  color: #8560fd;
  cursor: pointer;
  font-size: 14px;
  font-family: Lato;
  font-weight: bold;
  border-radius: 5px;
  font-style: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  border: 2px solid #8560fd;
  &_theme-gradient {
    border: none;
    color: #ffffff;
    background: linear-gradient(
      45deg,
      rgba(133, 96, 253, 1) 15%,
      rgba(99, 141, 247, 1) 100%
    );
  }
  &_signUp {
    display: flex;
    padding: 0 14px;
    justify-content: space-between;
    align-items: center;
    border: none;
    color: #ffffff;
    background: linear-gradient(
      45deg,
      rgba(133, 96, 253, 1) 15%,
      rgba(99, 141, 247, 1) 100%
    );
  }
  &_gradient-img {
    display: flex;
    padding: 0 14px;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
    background: linear-gradient(
      45deg,
      rgba(133, 96, 253, 1) 15%,
      rgba(99, 141, 247, 1) 100%
    );
  }
  &__btn-title {
    flex-grow: 2;
  }
  &__btn-img {
    background-image: url(../assets/images/button_img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8px;
    height: 13px;
    display: none;
  }
  &_product-btn {
    width: 440px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
  }
}
