.logTrades {
	display: flex;
	flex-direction: column;

	.tradeItemsParent {
		position: relative;
		display: flex;
		flex-direction: column;

		.item {
			display: flex;
			padding: 15px 0;

			.boxOfTrade {
				text-align: center;
				font-size: 13px;
				color: white;
				word-wrap: break-word;

				&.name {width: 18%;}
				&.line {
					width: 30%;
					display: flex;
					align-items: center;

					.tsLine {
						height: 1px;
						flex: 1;
						background-color: white;
					}
				}

				&.pair {width: 10%;}
				&.type {width: 10%;}
				&.side {
					width: 10%;
					&.SELL {color: #f26d7d;}
					&.BUY {color: #8dc63f;}
				}
				&.price {width: 10%;}
				&.quantity {width: 10%;}
				&.status {
					width: 10%;
					&.CANCELED {color: #f26d7d;}
					&.REJECTED {color: #f26d7d;}
					&.TRADE {color: #8dc63f;}
					&.NEW {color: #b0a5ff;}
				}
				&.time {width: 10%;}
				&.emptySpace {width: 10%;}
				&.relativitySuccess {
					width: 18%;
					&.success-true {color: #8dc63f;}
					&.success-false {color: #f26d7d;}
				}
				&.clickMore {
					width: 10%;
					display: flex;
					justify-content: center;
					align-items: center;

					> .curClick {
						width: 18px;
						height: 12px;
						background-image: url(~@assets/images/tradeBackMore.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						cursor: pointer;
					}
				}
			}

			&.leaderTrade {
				background-color: rgba(229, 236, 239, 0.05);

				&.noHasLogTrades {
					.clickMore > .curClick {
						display: none;
					}
				}
			}

			&.noFollowTrade {
				background-color: #6B2451;
				margin: 10px 0;

				&.show-false {
					display: none;
				}

				.clickMore {
					> .curClick {
						background-size: 100% 100%;
						width: 12px; height: 12px;
						background-image: url(~@assets/images/tradeNoFollow.png);
					}
				}
			}

			&.followerTrade {
				background-color: rgba(229, 236, 239, 0.2);
				margin-bottom: 10px;
			}
		}

		.headTable {
			flex: 1;
			position: absolute;
			width: 100%;

			.boxOfTrade {
				color: #999999;
			}
		}

		.boxOfDay {
			margin-bottom: 10px;

			.titleDay {
				font-size: 13px;
				padding: 15px 0;
			}
			.curTradeParent {
				display: flex;
				flex-direction: column;
				margin-top: 10px;

				.item {
					animation: pulseOpacity 2s ease-in-out;
				}

				.tsFollowersTrades {
					height: 0;
					overflow: hidden;
				}

				&.opened {
					box-shadow: 0px 6px 49px 0 rgba(0, 0, 0, 0.64);
  				background-image: linear-gradient(to top, #5a3e81, #352659);	

  				.tsFollowersTrades {
  					height: auto;
  					overflow: visible;
  				}

  				.leaderTrade {
  					.clickMore > .curClick {
							background-image: url(~@assets/images/tradeMore.png);
						}
  				}
				}
			}
		}
	}

	.moreTrades {
		display: flex;
		align-self: center;
		background: rgba(0,0,0,.2);
		padding: 8px 30px;
		border-radius: 100px;
		margin: 20px 0 0;
		font-size: 13px;
		cursor: pointer;
		text-transform: uppercase;
		background-image: linear-gradient(to top, #7b489e, #ff69b0);

		&:hover {
			opacity: .7;
		}
	}
}

@keyframes pulseOpacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

