@import "../../common/Utils/Utils.scss";

.profile-page {
  padding: 0px 18px 0px 17px;

  &__chart-wrap {
    margin-top: 34px;
  }

  &__products {
    margin-top: 42px;
  }

  &__investors {
    margin-top: 50px;
  }

  &__investor {
    margin-right: 13px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__investors-list {
    display: flex;
    margin-top: 44px;
  }

  &__investors-title {
    @include font(Geometria-Bold);
    font-size: 20px;
    color: #888e9c;
  }

  &__apis {
    margin-top: 34px;
  }
}
