@import "src/components/common/Utils/Utils.scss";

.pop-up-new-product {
  border-radius: 5px;
  width: 600px;
  // height: 560px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  &__tittle {
    @include font(Lato-Bold);
    font-size: 22px;
    font-weight: bold;
    color: #000000;
  }
  &__key {
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: underline;
    @include font(Lato);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8560fd;
  }
  .select {
    box-shadow: none;
  }
}
