@import "src/components/common/Utils/Utils.scss";

.pop-up-new-product {
  width: 427px;
  padding: 50px 50px 66px 50px;
  display: flex;
  flex-direction: column;
  &__title {
    @include font(Geometria-Bold);
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
  }
  &__key {
    text-decoration: underline;
    @include font(Geometria);
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(136, 142, 156, 0.5);;
  }
  &__textarea {
    height: 140px;
    margin-top: 13px;
    &_hidden {
      display: none;
    }
  }
  .input__input {
    @include font(Geometria);
  }
  .select {
    box-shadow: none;
    width: 100%;
  }
  %margins {
    margin-bottom: 13px;
  }
  &__input-wrap {
    &_name {
      @extend %margins;
    }
    &_api {
      @extend %margins;
    }
  }
  &__select-wrap {
    @extend %margins;
  }
  &__button-wrap {
    width: 173px;
    .button {
      margin-top: 0;
      @include font(Geometria);
    }
  }
  &__footer {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
