@import "../Utils/Utils";

.percent-result {
  display: inline;
  @include font(Geometria);
  line-height: normal;
}

.percent-result_medium {
  font-size: 18px;
}

.percent-result_market {
  font-size: 14px;
}

.percent-result_small {
  font-size: 12px;
}

.percent-result_red {
  color: #f26d7d;
}

.percent-result_green {
  color: #89e07d;
}
