.inputEmail {
  width: 270px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #dddddd;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  color: #666666;
  margin-top: 30px;
  padding-left: 10px;
}
