@import "../../common/Utils/Utils.scss";

.order-book {
  width: 240px;
  height: 850px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  &__caption {
    @include font(Lato-Bold);
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
  }
  &__list-block {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-top: 10px;
    width: 240px;
    font-size: 12px;
    background-color: silver;
  }
  &__name-list {
    @include font(Lato-Bold);
    font-size: 12px;
    color: #182549;
  }
  &__price-block {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    width: 240px;
    font-size: 12px;
    background-color: #182549;
  }
  &__name-price {
    @include font(Lato-Bold);
    font-size: 12px;
    color: #ffffff;
  }
  &__currency-block {
    display: flex;
  }
  &__eur-price {
    @include font(Lato-Bold);
    font-size: 12px;
    color: #ffffff;
    margin-right: 5px;
  }
  &__usd-price{
    @include font(Lato-Bold);
    font-size: 12px;
    color: #ffffff;
  }
}
