@import "src/components/common/Utils/Utils.scss";

.input {
  position: relative;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);

  &_error {
    border: solid 2px #ffb3b3;
  }

  &__input {
    @include font(Geometria-Medium);
    padding-left: 14px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    line-height: normal;
    outline: none;
    border: none;

    &::-webkit-input-placeholder {
      color: #a697be;
    }

    &::-moz-placeholder {
      color: #a697be;
    }

    &:-ms-input-placeholder {
      color: #a697be;
    }

    &:-moz-placeholder {
      color: #a697be;
    }
  }

  &__star {
    @include font(Lato-Bold);
    position: absolute;
    top: 5px;
    right: 10px;
    color: #b0a5ff;
    font-size: 18px;
  }
}
$terminalPlaceholder: #ccc;
.input_terminal {
  border: none;
  font-size: 14px;
  height: 49px;
  background-color: #302d48;
  border-radius: 0;
  .input__tip {
    position: absolute;
    right: 19px;
    top: 15px;
    @include font(Geometria-Bold);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
  }

  .input__input {
    @include font(Geometria-Bold);
    font-size: 14px;
    color: #fff;
    &::-webkit-input-placeholder {
      color: $terminalPlaceholder;
    }

    &::-moz-placeholder {
      color: $terminalPlaceholder;
    }

    &:-ms-input-placeholder {
      color: $terminalPlaceholder;
    }

    &:-moz-placeholder {
      color: $terminalPlaceholder;
    }
  }
}
