@import "../../common/Utils/Utils.scss";

.trader-card {
  position: relative;
  margin-right: 12px;
  width: 400px;
  height: 534px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.02);
  margin-top: 20px;
  padding: 48px 36px 70px 25px;
  cursor: pointer;
  overflow: hidden;

  &__title {
    display: none;
    @include font(Geometria);
    color: #ffffff;
    font-size: 16px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__exchanges {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    @include font(Geometria);
    font-size: 16px;
  }
  &__pair {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #888e9c;
  }
  &__exchange {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b0a5ff;
  }
  &__chart {
    margin-top: 34px;
    height: 157px;
    border: solid 1px #545862;
  }
  &__saved {
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: 100%;

    &_saved {
      background-image: url(../assets/images/star-marketplace.svg);
    }
    &_unsaved {
      background-image: url(../assets/images/star-marketplace-empty.svg);
    }
  }
  &__units {
    display: flex;
    margin-top: 26px;
  }
  &__unit {
    margin-right: 39px;
  }
  &__delimiter {
    margin-top: 25px;
    height: 1px;
    background-color: #898989;
    opacity: 0.1;
  }

  &__stats {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
  }
}
.trader-card:hover {
  background-color: rgba(255, 255, 255, 0.1);

}

.trader-card_trader {
  padding-top: 64px;
  background-color: rgba(255, 255, 255, 0.02);

  .trader-card {
    &__header {
      display: none;
    }

    &__title {
      display: block;
    }

    &__exchanges {
      display: none;
    }
  }

}

.trader-card_investor {
  background-color: rgba(29, 27, 40, 0.3);
}
