.trader-card {
  width: 210px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-top: 20px;
  padding: 10px 0;
  cursor: pointer;
  &__exchange {
    padding-left: 15px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    color: #000000;
  }
  &__icon-user-border {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 2px #8560fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin: 0 auto;
  }
  &__user-name-block {
    display: flex;
    justify-content: center;
  }
  &__rating {
    display: flex;
    align-items: center;
    margin: 0 4px;
    padding: 10px 15px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #000000;
  }
  &__full-circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: 2px;
    background-color: #8560fd;
  }
  &__full-empty {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: 2px;
    border: 2px solid #cebffe;
  }
  &__position-trade {
    width: 208px;
    height: 54px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  &__position-trade-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #666666;
  }
  &__result-block {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  &__result-block-data {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__block-data {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__block-result {
    font-size: 16px;
    font-weight: 300;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8560fd;
  }
  &__info-block {
    width: 180px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin: 0px 15px 10px;
  }
  &__button-block {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}
.trader-card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #8560fd;
}
