@import "../../common/Utils/Utils.scss";

.trader-card {
  position: relative;
  width: 210px;
  height: 280px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-top: 20px;
  padding: 10px 0;
  cursor: pointer;
  overflow: hidden;
  &__block-exchange {
    display: flex;
    align-items: center;
  }
  &__exchange {
    padding-left: 10px;
    @include font(Lato-Bold);
    font-size: 12px;
    color: #000000;
  }
  &__save-block {
    position: absolute;
    top: 0;
    left: 175px;
    width: 20px;
    height: 24px;
    background-image: url(../assets/images/saved-flag-active.png);
    background-size: cover;
  }
  &__currencyPair {
    @include font(Lato);
    font-size: 12px;
    color: #cccccc;
    padding-left: 10px;
  }
  &__graf {
    width: 208px;
    height: 80px;
    background-image: url(../assets/images/Graphic_product.png);
    background-size: cover;
    margin-top: 15px;
  }
  &__user-block {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 12px;
  }
  &__user-name-block {
    display: flex;
    justify-content: center;
  }
  &__rating-block {
    padding-left: 15px;
  }
  &__position-trade {
    width: 208px;
    height: 40px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
  }
  &__position-trade-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font(Lato-Light);
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #666666;
  }
  &__dynamic-info {
    @include font(Lato-Bold);
  }
  &__result-block {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
  }
  &__result-block-data {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__block-data {
    @include font(Lato-Bold);
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__block-result {
    font-size: 16px;
    font-weight: 300;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8bc34a;
  }
  &__info-block {
    width: 180px;
    @include font(Lato);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin: 0px 15px 15px;
  }
  &__href {
    color: #8560fd;
    text-decoration: underline;
  }
  &__button-block {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}
.trader-card:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #8560fd;
}
