@import "../../common/Utils/Utils.scss";

.profile-chart-button {
  border-radius: 15px;
  width: max-content;
  padding: 0 21px;
  height: 24px;
  opacity: 0.38;
  border: solid 1px #545862;
  font-size: 10px;
  @include font(Geometria-Bold);
  color: rgba(136, 142, 156, 0.7);
  cursor: pointer;

  &:hover {
    background-color: #5b57a3;
    color: #fff;
    opacity: 1;
    border: none;
  }

  &_active {
    background-color: #5b57a3;
    color: #fff;
    opacity: 1;
    border: none;
  }

  &__title {
    line-height: 24px;
    margin: 0 auto;
  }
}
