.smallKeys {
	display: flex;
  margin: 10px 30px 30px 0;
  position: relative;
  min-width: 450px;
  background-image: linear-gradient( 90deg, rgb(90,62,129) 0%, rgb(53,38,89) 100%);
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.22);
  padding: 10px 0;

  .mainBlock {
  	display: flex;
  	flex: 1;

  	.blockItem {
  		display: flex;
  		height: 70px;
  		justify-content: center;
  		align-items: center;
  		flex-direction: column;
  		font-size: 14px;

  		&.stock {
  			flex: 0.15;

  			.iconLogo {
  				height: 25px;
  			}
  		}

  		&.infoData {
  			flex: 0.4;
  			align-items: self-start;

  			.status {
  				margin-top: 5px;
  				font-size: 11px;
  				color: white;
			    padding: 2px 6px;

          &.VALID {
            background-color: rgb(141, 198, 63);
          }
          &.ERROR {
            background-color: #da7a7a;
          }
          &.WAITING {
            background-color: #8888ea;
          }
  			}

        .name {
          max-width: 140px;
          overflow: hidden;
        }
  		}

  		&.history {
  			flex: 0.4;
  			align-items: flex-end;

  			.balance {

  			}

  			.usedFollowing {
  				margin-top: 5px;
  				font-size: 12px;
          color: #da7a7a;
          display: flex;
          justify-content: space-between;

          .spanItem {
            color: rgba(255, 255, 255, 0.302);
            display: flex;
            align-items: center;

            &.usedProductName {
              color: white;
              padding: 2px 6px;
              background-color: rgba(176, 165, 255, 0.4);
              margin-left: 5px;
            }
          }

          &.positiveFollowing {
            color: #45bd45;
          }
  			}
  		}
  	}
  }

  .settings {    
    .iconHover {
      width: 30px; 
      height: 30px;
      background-color: rgb(90,62,129);
      background-image: linear-gradient( 90deg, rgb(90,62,129) 0%, rgb(53,38,89) 100%);
      border-radius: 100px;
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: -5px;
      z-index: 2;

      &:after {
        content: '';
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        background-image: url('~@assets/images/settingsIcon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
      }
    }

    .iconHover:hover + .menu {
      display: flex;
    }

    .menu {
      display: none;
      width: 200px;
      background-image: linear-gradient( 90deg, rgb(53,38,89) 0%, rgb(90,62,129) 100%);
      position: absolute;
      flex-direction: column;
      z-index: 2;
      right: 0;
      top: 0;

      &:hover {
        display: flex;
      }

      .item {
        text-align: center;
        padding: 10px 0;
        color: white;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    .settings {
      display: flex;
    }
  }
}

.smallKeysAdd {
  max-width: 400px;
  font-size: 13px;

  .mainBlock {
    display: flex;
    flex-direction: column;

    .inputs {
      display: flex;
      flex-direction: column;

      input, select {
        color: white;
        margin: 2px 0;
        padding: 5px 10px;
        border: none;
        border-radius: 100px;
        background-color: rgba(0.27, 0.13, 0.39, .3);
      }

      select {
        height: 30px;
        border-radius: 100px;
      }
    }

    .onTopSigns {
      display: flex;
      margin-top: 5px;

      .item {
        cursor: pointer;
        padding: 5px 30px;
        background-color: rgba(0,0,0,.3);
        border-radius: 100px;
        margin: 5px;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          opacity: .5;
        }

        &.save {
          background-image: linear-gradient(to top, #7b489e, #ff69b0);
        }

        &.cancel {
          background-color: #f2f2f2;
          color: rgba(0,0,0,.3);
        }
      }
    }
  }
}

.parentEditingSmallKeys {
  position: relative;
  margin: 10px 30px 30px 0;
  z-index: 3;
  font-size: 13px;

  .settings {
    display: none!important;
  }

  .smallKeys {
    margin: 0;
  }

  .smallKeysEdit {
    position: absolute;
    background-image: linear-gradient(90deg, #5a3e81 0%, #352659 100%);
    padding: 10px 20px;
    width: 100%;

    .mainBlock {
      display: flex;
      flex-direction: column;

      .inputs {
        display: flex;
        flex-direction: column;

        input {
          margin: 2px 0;
          padding: 5px 10px;
          border: none;
          border-radius: 100px;
          background-color: rgba(0.27, 0.13, 0.39, .3);
          color: white;
        }
      }

      .onTopSigns {
        display: flex;
        margin-top: 5px;

        .item {
          cursor: pointer;
          padding: 5px 30px;
          background-color: rgba(0,0,0,.3);
          border-radius: 100px;
          margin: 5px;
          text-transform: uppercase;
          font-weight: 500;

          &:hover {
            opacity: .5;
          }

          &.save {
            background-image: linear-gradient(to top, #7b489e, #ff69b0);
          }

          &.cancel {
            background-color: #f2f2f2;
            color: rgba(0,0,0,.3);
          }
        }
      }
    }
  }
}

// .smallKeysAdd, .smallKeysEdit {
  // .mainBlock {
  //   display: flex;
  //   flex-direction: column;

  //   .inputs {
  //     display: flex;
  //     flex-direction: column;

  //     input {
  //       margin: 2px 0;
  //       padding: 5px 10px;
  //       border: none;
  //       border-radius: 5px;
  //     }
  //   }

  //   .onTopSigns {
  //     display: flex;

  //     .item {
  //       cursor: pointer;
  //       padding: 5px 30px;
  //       background-color: rgba(0,0,0,.3);
  //       border-radius: 5px;
  //       margin: 5px;
  //     }
  //   }
  // }
// }


