@import "../../../common/Utils/Utils.scss";

.SignInForms__RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SignInForms__RegistrationForm .title {
  @include font(Lato-Bold);
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 12px;
  color: #fff;
}
.SignInForms__RegistrationForm .checkboxBlock {
  display: flex;
  margin-top: 20px;
  width: 280px;
  height: auto;
  @include font(Lato-Light);
  font-size: 14px;
  font-weight: 300;
}
.SignInForms__RegistrationForm .checkboxBlock div {
  width: 250px;
  height: 20px;
  @include font(Lato-Light);
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.SignInForms__RegistrationForm .transitionAccount {
  width: 280px;
  height: 60px;
  @include font(Geometria);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888e9c;
  margin-top: 20px;
  text-align: center;
}
.SignInForms__RegistrationForm__error-block {
  @include font(Lato);
  font-size: 14px;
  color: #ff4040;
  text-align: center;
  margin-top: 10px;
}
.SignInForms__RegistrationForm .transitionAccount .span {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.SignInForms__RegistrationForm .infoHref {
  width: 480px;
  height: 40px;
  @include font(Lato-Light);
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.SignInForms__RegistrationForm .infoHref span {
  text-decoration: underline;
  cursor: pointer;
}
.SignInForms__RegistrationForm .button-wrap {
  width: 280px;
}
