@import "../../../common/Utils/Utils.scss";

.SignUpForms__RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SignUpForms__RegistrationForm__error-block {
  @include font(Lato);
  font-size: 14px;
  color: #ff4040;
  text-align: center;
  margin-top: 10px;
}
.SignUpForms__RegistrationForm .title {
  @include font(Lato-Bold);
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
  color: #000000;
}
.SignUpForms__RegistrationForm .checkboxBlock {
  display: flex;
  margin-top: 20px;
  width: 280px;
  height: auto;
  @include font(Lato-Light);
  font-size: 14px;
  font-weight: 300;
}
.SignUpForms__RegistrationForm .checkboxBlock div {
  width: 250px;
  @include font(Lato-Light);
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.SignUpForms__RegistrationForm .checkboxBlock div .required {
  @include font(Lato);
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff4040;
  margin-top: 10px;
}
.SignUpForms__RegistrationForm .transitionAccount {
  width: 280px;
  @include font(Lato);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-top: 20px;
  text-align: center;
}
.SignUpForms__RegistrationForm .transitionAccount .span {
  color: #8560fd;
  text-decoration: underline;
  cursor: pointer;
}
