@import "../../common/Utils/Utils.scss";

.registration-page {
  position: absolute;
  display: flex;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.registration-page__form-column {
  padding: 50px 0 33px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
  overflow-y: auto;
  background-image: linear-gradient(to top, #3a2f64, #4a3c6b 48%, #755c7a);
}

.registration-page__form {
  width: 100%;
}

.registration-page__picture-column {
  width: 67%;
  height: 100vh;
  background-image: url(../assets/images/registration.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registration-page__disclaimer {
  align-self: flex-end;
  @include font(Geometria-Light);
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #888e9c;
}

.registration-page__disclaimer span {
  text-decoration: underline;
  cursor: pointer;
}

.registration-page__logo {
  width: 117px;
  height: 40px;
  background-image: url(../assets/images/Logo_White_with_title.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .registration-page {

  }

  .registration-page__form-column {
    width: 100%;
  }

  .registration-page__picture-column {
    display: none;
  }
}
