@import "../../common/Utils/Utils.scss";

.order-list {
  width: 240px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 6px 20px 6px 10px;
  &__price-currency {
    @include font(Lato);
    font-size: 12px;
    &_ask {
      color: #ff4040;
    }
    &_bid {
      color: #8bc34a;
    }
  }
  &__volume {
    @include font(Lato);
    font-size: 12px;
    color: rgba(24, 37, 73, 0.5);
  }
  &__total-volume {
    display: none;
    @include font(Lato);
    font-size: 12px;
    color: rgba(24, 37, 73, 0.5);
  }
}
.order-list:nth-of-type(odd){
  background: white;
}
