.Reset-password__RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Reset-password__RegistrationForm .title {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Reset-password__RegistrationForm .success {
  width: 160px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 20px 0 10px;
  text-align: center;
}
.Reset-password__RegistrationForm .btn {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(133, 96, 253, 1) 15%,
    rgba(99, 141, 247, 1) 100%
  );
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  border: none;
  outline: none;
}
.Reset-password__RegistrationForm .transitionAccount {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8560fd;
  margin-top: 20px;
}
.Reset-password__RegistrationForm .transitionAccount span {
  color: #8560fd;
  text-decoration: underline;
  cursor: pointer;
}
