@import "../../common/Utils/Utils.scss";

.history-list {
  width: 240px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  &__trade-size {
    @include font(Lato);
    font-size: 12px;
    color: rgba(24, 37, 73, 0.5);
  }
  &__price {
    @include font(Lato);
    font-size: 12px;
    color: #ff4040;
  }
  &__time {
    @include font(Lato);
    font-size: 12px;
    color: rgba(24, 37, 73, 0.5);
  }
}
.history-list:nth-of-type(odd){
  background: white;
}
