@import "../../common/Utils/Utils.scss";

.history-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px 15px;
  @include font(Geometria-Light);
  
  font-size: 12px;
  &__trade-size {
    color: #888e9c;
  }
  &__price {
    font-size: 12px;
    color: #f26d7d;
    &_up {
      color: rgba(137, 224, 125, 1)
    }
  }
  &__time {
    font-size: 12px;
    color: #888e9c;
  }

  &:hover {
    background-color: rgba(255,255,255, 0.1);

    .history-list {
      &__trade-size, &__time {
        color: #fff
      }

      &__price {
        color: #ff4040;
        &_up {
          color: #8bc34a;
        }
      }
    }
  }
}
