.menu {
  position: fixed;
  top: 80px;
  left: calc(50% - 581px);

  &__item-wrap {
    margin-top: 30px;
  }

  &__item-wrap:first-of-type {
    margin-top: 0;
  }

  &__logo {
    height: 60px;
    width: 52px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../assets/images/cindex-without-title.svg');

    &_open-logo {
      animation: open-logo ease .7s;
      opacity: 1;
    }

    &_close-logo {
      animation: close-logo ease .7s;
      opacity: 0;
    }
  }

  &__items {
    position: absolute;

    &_up {
      top: 0px;
      animation: move-items-up ease .7s;
    }

    &_down {
      top: 85px;
      animation: move-items-down ease .7s;
    }
  }
}

@keyframes move-items-up {
  0% {
    top: 85px;
  }
  100% {
    top: 0px;
  }
}

@keyframes move-items-down {
  0% {
    top: 0px;
  }
  100% {
    top: 85px;
  }
}

@keyframes open-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes close-logo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
