.menu {
  height: 100%;
  position: fixed;

  &__item-wrap:first-of-type {
    margin-top: 0;
  }

  &__item-wrap {
    a {
      text-decoration: none;
    }
  }
  &__logo {
    width: 117px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../assets/images/Logo_White_with.png');
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 38px;
  }

  &__items {
    position: absolute;
    width: 240px;
    height: 100vh;
    background-color: #182549;

    &_up {
      top: 0px;
      animation: move-items-up ease .3s;
    }

    &_down {
      animation: move-items-down ease .3s;
    }
  }
}

@keyframes move-items-up {
  0% {
    top: 85px;
  }
  100% {
    top: 0px;
  }
}

@keyframes move-items-down {
  0% {
    top: 0px;
  }
  100% {
    top: 85px;
  }
}

@keyframes open-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes close-logo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
