@import "../../common/Utils/Utils.scss";

.civic-button-a {
  margin: 0;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid #888e9c;
  color: #888e9c;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}

.civic-button-a:hover {
  background-color: #fff;
}

.apis {
  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    margin-top: 36px;
  }
  &__title {
    @include font(Geometria-Bold);
    font-size: 20px;
    color: #888e9c;
  }

  &__placeholder {
    margin: 0 auto;
    width: max-content;
    @include font(Geometria);
    font-size: 24px;
    color: #888e9c;
  }
}
