@import "../Utils/Utils.scss";

.alert {
  margin-bottom: 15px;
  position: relative;
  width: 400px;
  border-radius: 5px;
  background-color: #5f517b;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid #8375e9;

  &__info {
    display: flex;
    padding: 20px 17px 16px 20px;
  }

  &__description {
    width: 310px;
    @include font(Geometria);
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
  }
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 100%;

    &_connect {
      height: 35px;
      background-image: url(../assets/images/data_base_icon_1x-1.png);
    }

    &_sign {
      background-image: url(../assets/images/attention_icon_1x-1.png);
    }

    &_face {
      background-image: url(../assets/images/wrong_icon_1x-1.png);
    }

    &_lightning {
      background-size: 55%;
      background-position: 50%;
      background-image: url(../assets/images/bolt_icon_1x-1.png);
    }

    &_graph {
      background-image: url(../assets/images/charts_icon_1x-1.png);

    }
  }

  &__check {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/images/small-check.svg);
  }

  &__close {
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -11px;
    right: -11px;
    width: 22px;
    height: 22px;
    background-color: #8375e9;
    cursor: pointer;
  }
}
