@import "../../../common/Utils/Utils.scss";

.product-page {
  width: 700px;
  padding: 30px 0;
  // background-color: #ffffff;
  background-image: linear-gradient(to bottom,#231a37,#464d63),linear-gradient(rgba(0,0,0,.17),rgba(0,0,0,.17));
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  &__block-exchange {
    display: flex;
    align-items: center;
    margin: 0 30px 30px;
  }
  &__currencyPair {
    @include font(Lato);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 1;
  }
  &__head-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
  }
  &__strategy-name {
    @include font(Geometria);
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__strategy-date {
    font-size: 18px;
    @include font(Geometria-Light);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__exchange {
    padding-right: 10px;
    @include font(Geometria-Light);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
  }
  &__currency {
    @include font(Geometria);
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__description-block {
    padding: 30px;
  }
  &__description {
    @include font(Geometria-Light);
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
  }
  &__result-block {
    margin-top: 40px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__result {
    display: flex;
    align-items: center;
  }
  &__color-result {
    color: #8bc34a;
  }
  &__result-data {
    @include font(Geometria);
    font-size: 14px;
    color: #000000;
    margin-right: 5px;
  }
  &__stock-exchange {
    color: #f3ba2f;
    @include font(Geometria-Bold);
  }
  &__saved-block {
    display: flex;
    align-items: center;
  }
  &__saved {
    @include font(Lato);
    font-size: 14px;
    color: #000000;
  }
  &__saved-icon {
    margin-left: 10px;
    width: 20px;
    height: 24px;
    background-image: url(../assets/images/saved-flag-active.png);
    background-size: cover;
  }
  &__position-container {
    padding: 0 70px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.03);
  }
  &__position-block {
    height: 40px;
    @include font(Geometria);
    font-size: 12px;
    color: #fff;
    line-height: 40px;
  }
  &__footer-block {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__user-block {
    display: flex;
    align-items: center;
  }
  &__user-name-block {
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  &__rating-block {
    padding-left: 15px;
  }
  &__footer-button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    @include font(Geometria-Bold);
    font-size: 18px;
    color: #ffffff;
    background: #8375e9;
    outline: none;
    border: none;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }
  &__disconnect-button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    @include font(Geometria-Bold);
    font-size: 18px;
    background-color: #ff4040;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

    &_hide {
      display: none;
    }
  }
  &__chart {
    margin: 0 auto;
    width: 681px;
    height: 384px;
  }
}
