.investorComponent {
	background-image: linear-gradient(to top, #5a3e81, #352659);
	font-size: 13px;

	.mainBlock {
		display: flex;
		flex-direction: column;
		padding: 10px;

		.headProperty {
			display: flex;
			margin: 15px 0;

			.item {
				flex: .25;
				text-align: center;
			}
		}

		.centerValue {
			display: flex;
			margin: 15px 0;

			.item {
				display: flex;
				flex: .25;
				justify-content: center;
				align-items: center;

				&.synchronization {
					display: flex;

					.justValue {margin-right: 5px;}
					.ranger {
						display: flex;
						height: 10px;
						flex: 0.6;
						background-color: white;
						border-radius: 4px;
						overflow: hidden;

						.filled {
							height: 100%;

							&.badly {background-color: #e45257;}
							&.good {background-color: #8dc63f;}
						}
					}
				}
			}
		}

		.clickButtons {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			margin: 15px 0;

			.item {
				display: flex;
				border-radius: 100px;
				padding: 10px 20px;

				&.compare {
					align-self: center;
					text-transform: uppercase;
					font-weight: 500;
					background-image: linear-gradient(to top, #7b489e, #ff69b0);
				}

				&.unsubscribe {
					align-self: flex-end;
					background-color: #b0a5ff;
					text-decoration: underline;
					opacity: .3;

					&.none {opacity: 0; pointer-events: none;}
				}
			}
		}
	}

	.balancesBlock {
		display: flex;
		justify-content: space-between;

		.betweenItem {
			flex: .5;
			display: flex;
			flex-direction: column;
			border-top: 1px solid #e47faf;

			&.leaderMainBlock {
				border-right: 1px solid #e47faf;
			}

			.balancesList {
				display: flex;
				flex-direction: column;
				max-height: 300px;
				overflow: auto;

				.item {
					display: flex;
					justify-content: space-between;
					padding: 15px 15px;

					&.headItem {
						color: #888e9c;
					}

					.curItemCoin {
						flex: .25;
						text-align: center;
					}
				}
			}
			.totalBalances {
				display: flex;
				justify-content: space-between;
				border-top: 1px solid #e47faf;
				padding: 15px;

				> .curPropery {
					text-transform: uppercase;
				}
				> .curValue {

				}
			}
		}
	}
}






