@import "../../common/Utils/Utils.scss";

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font(Geometria);
  color: #888e9c;
  position: relative;

  &__role {
    margin-right: 7px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: left;
    &_hidden {
      display: none;
    }
  }

  &__content-full-star {
    position: absolute;
  }

  &__content-empty-star {

  }

  &__full-circle {
    background-image: url(../assets/images/star-rating.svg);
    background-size: cover;
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  &__full-empty {
    background-image: url(../assets/images/star-rating-empty.svg);
    background-size: cover;
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }

  &__votes {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

  &__stars {
    display: flex;
    margin-right: 5px;
  }
}

.rating_profile {
  .rating {
    &__role {
      display: none;
    }

    &__votes {
      font-size: 16px;
    }

    &__full-circle {
      background-image: url(../assets/images/star.svg);
      width: 18px;
      height: 18px;
    }

    &__full-empty {
      background-image: url(../assets/images/star_empty.svg);
      width: 18px;
      height: 18px;
    }
  }
}

.rating_investor {
  flex-direction: column;
  .rating__votes {
    align-self: flex-end;
    margin-top: 11px;
  }
  .rating__stars {
    margin: 0;
  }
}
