@import "../../common/Utils/Utils.scss";

.balance {
  overflow: hidden;
  @include font(Geometria-Bold);
  font-size: 20px;
  color: #b0a5ff;
  height: 72px;
  display: flex;
  border-radius: 8px;

  &__base {
    padding: 0 34px 0 36px;
    background-color: #33304b;
    line-height: 72px;
  }

  &__second {
    padding: 0 39px 0 41px;
    background-color: #302d48;
    line-height: 72px;
  }

  &__currency {
    font-size: 15.5px;
    color: rgba(255, 255, 255, 0.2);
  }
}
