@import "../../common/Utils/Utils.scss";

.api {
  width: 400px;

  &__exchange {
    background-size: 100%;
    background-repeat: no-repeat;

    &_binance {
      width: 88px;
      height: 17px;
      background-image: url(../assets/images/binance_icon_white.svg);
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 27px;
    padding-right: 31px;
    width: 100%;
    height: 48px;
    background-color: rgba(29, 27, 40, .3);
  }

  &__currencies {
    display: flex;
    margin-top: 5px;
    @include font(Geometria-Bold);
    height: 67px;
  }

  &__base {
    line-height: 67px;
    width: 50%;
    background-color: #33304b;
    text-align: center;
  }

  &__second {
    text-align: center;
    width: 50%;
    line-height: 67px;
    background-color: #302d48;
  }

  &__amount {
    font-size: 20px;
    color: #b0a5ff;
  }

  &__currency {
    font-size: 15.5px;
    color: rgba(255, 255, 255, 0.2);
  }

  &__status {
    @include font(Geometria-Light);
    font-size: 11.2px;
    color: #f26d7d;

    &_valid {
      color: #89e07d;
    }
  }
}
