.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;

  &__picture {
    width: 100%;
    height:100%;
    border-radius: 100%;
  }

  &__approve {
    position: absolute;
    display: flex;
    top: 0px;
    right: -5px;
    width: 24px;
    height: 24px;
    align-items: center;
    border-radius: 100%;
    background-color: #5b57a3;
    justify-content: center;

    &_hidden {
      display: none;
    }
  }

  &__check {
    width: 11px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/images/small-approve.svg);
  }
}

.avatar_small {
  width: 60px;
  height: 60px;

}
