@mixin fonts($name, $url) {
  @font-face {
    font-family: $name;
    src: url('../assets/fonts/'+$url)  format('truetype');
  }
}

@mixin font($font) {
  font-family: $font, sans-serif;
}

.utils__undeveloped {
  opacity: 0.2;
  cursor: not-allowed;
}
