@import "../../common/Utils/Utils.scss";

.terminal-page {
  &__terminal {
    display: flex;
    justify-content: space-between;
  }
  &__radio-button-block {
    padding: 0 31px;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgba(24, 37, 73, 0.05);
  }
  &__form-block {
    display: flex;
    margin-top: 10px;
  }
  &__caption {
    padding: 10px 31px;
    @include font(Lato-Bold);
    font-size: 14px;
    color: #000000;
  }

  %column {
    display: inline-block;
    vertical-align: top;
  }

  &__1st-column {
    @extend %column;
    width: 240px;
  }

  &__3rd-column {
    display: none;
    width: 240px;
  }

  &__2nd-column {
    margin-left: 5px;
    @extend %column;
    width: calc(100% - 245px);
  }
}

@media screen and (min-width: 1440px) {
  .terminal-page {
    &__3rd-column {
      display: inline-block;
      vertical-align: top;
    }

    &__2nd-column {
      margin-right: 5px;
      width: calc(100% - 490px);
    }
  }
}
