@import "../Utils/Utils";

.user {
  display: flex;
  align-items: center;

  &__avatar-wrap {
    margin-right: 22px;
  }

  &__name-wrap {
    @include font(Geometria);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
  }

  &__approved {
    margin-top: 8px;
  }

  &__rating {
    margin-top: 12px;
  }
}

.civic-button-a {
  margin: 0;
  padding: 8px 70px;
  border-radius: 20px;
  background: linear-gradient(90deg, #3AB14B, #439CDE);
  color: #fff;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  position: relative;
}

.civic-button-approved {
  margin: 0;
  padding: 8px 70px;
  border-radius: 20px;
  background: linear-gradient(90deg, #3AB14B, #439CDE);
  color: #fff;
  border: 0;
  font-size: 14px;
  outline: none;
  display: flex;
  align-items: center;
  position: relative;
}

.civic-button-a:hover {
  background: linear-gradient(90deg, #439CDE, #3AB14B);
}

.svg-civic-icon {
  height: 22px;
  width: 22px;
  margin-right: 8px;
  position: absolute;
  left: 8px;
}
