@import "../Utils/Utils.scss";

.page {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  overflow-y: auto;
  justify-content: flex-end;
  background-image: linear-gradient(to bottom, #231a37, #464d63), linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17));
  &__menu-wrap {
    width: 180px;
    height: 100%;
  }

  &__content-wrap {
    padding-top: 16px;
    padding-bottom: 33px;
    position: relative;
    width: calc(100% - 180px);
  }

  &__disclaimer {
    margin: 56px 0 33px 18px;
    width: max-content;
    @include font(Geometria-Light);
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #888e9c;
  }


  &__preloader-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    &_hidden {
      display: none;
    }
  }

  &__preloader {
    margin: 0 auto;
    align-self: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../assets/images/preloader.svg');
    width: 40px;
    height: 40px;

    &_hidden {
      display: none;
    }
  }

  &__child {
    width: 100%;
  }

  &__child_hidden {
    display: none;
  }

  &__alert-manager {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 14;
  }
}

.page_profile {
  .page {
    &__logo {
      display: block;
    }

    &__menu {
      margin-top: 55px;
    }
  }
}

.page_terminal {
  .page {
    &__menu-wrap {
      width: 73px;
    }

    &__content-wrap {
      padding: 0;
      width: calc(100% - 73px);
    }

    &__content {
      width: 100%;
      background-color: #898f9f;
      border-radius: 0;
    }

    &__disclaimer {
      display: none;
    }
  }
}
