@mixin width-auto {
  @media screen and (max-width: 1250px) {
    max-height: none;
    overflow: auto;
    flex: 1;
  	
    &:after {
    	display: none;
    }
  }
}


.internalPage.profile {
	.blackoutBlock {
		&.keys {
			display: flex;
		}

		&.products {
			display: flex;
		}

		&.dashboard {
			display: flex;

			@media screen and (max-width: 1250px) {
				min-width: 100%;
			}
		}
	}
}