@mixin width-auto {
  @media screen and (max-width: 1250px) {
    max-height: none;
    overflow: auto;
    flex: 1;
  	
    &:after {
    	display: none;
    }
  }
}


.internalPage.profile {
	.blackoutBlock {
		@media screen and (max-width: 1000px) {
			padding: 0;

			.listBlock  .list {
				overflow: auto;
			}
		}

		&.keys {
			display: flex;

			.listBlock  .list {
				display: flex;
				flex-wrap: wrap;
			}
		}

		&.products {
			display: flex;

			.listBlock  .list {
				display: flex;
				flex-wrap: wrap;
			}
		}

		&.dashboard {
			display: flex;

			@media screen and (max-width: 1250px) {
				min-width: 100%;
			}
		}
	}
}