.stock-area-chart__axis {
  display: none;
}

.stock-area-chart__drawing-line {
  border-radius: 20px;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  font-weight: 600;
  font-size: 15px;
  outline: none;
}

.stock-area-chart__drawing-line:hover {
  color: inherit;
  background-color: #fff;
}
