@import "src/components/common/Utils/Utils.scss";

.pop-up-registration {
  display: flex;
  width: 700px;
  height: 370px;
  border-radius: 5px;
  &__img {
    width: 280px;
    height: 370px;
    background-image: url(../assets/images/registration-popUp.png);
    background-size: cover;
  }
  &__content-block {
    width: 420px;
    padding: 74px 40px;
  }
  &__tittle {
    @include font(Geometria-Bold);
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 18px;
  }
  &__info {
    @include font(Geometria);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 30px;
  }
  &__sign-in {
    margin-top: 22px;
    @include font(Geometria);
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #888e9c;
    & a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__button {
    width: 260px;
  }
  a {
    text-decoration: none;
  }
}
