@import "src/components/common/Utils/Utils.scss";

.menu-item {
  display: flex;
  align-items: center;
  width: 100;
  cursor: pointer;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  &__title {
    @include font(Lato-Bold);
    font-size: 14px;
    font-weight: bold;
    color: #9ba7d1;
    outline: none;
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    &_terminal {
      &_active {
        background-image: url(../assets/images/Terminal_icon_active.svg);
      }
      &_disabled {
        background-image: url(../assets/images/Terminal_icon.svg);
      }
    }

    &_marketplace {
      &_active {
        background-image: url(../assets/images/Marketplace_icon_active.svg);
      }
      &_disabled {
        background-image: url(../assets/images/Marketplace_icon.svg);
      }
    }

    &_save {
      &_active {
        background-image: url(../assets/images/Saved_icon_active.svg);
      }
      &_disabled {
        background-image: url(../assets/images/Saved_icon.svg);
      }
    }

    &_billing {
      &_active {
        background-image: url(../assets/images/Billing_icon_active.svg);
      }
      &_disabled {
        background-image: url(../assets/images/Billing_icon.svg);
      }
    }

    &_profile {
      &_active {
        background-image: url(../assets/images/Profile_icon_active.svg);
      }
      &_disabled {
        background-image: url(../assets/images/Profile_icon.svg);
      }
    }

    &_help {
      &_active {
        background-image: url(../assets/images/Help_icon_active.svg);
      }
      &_disabled {
        background-image: url(../assets/images/Help_icon.svg);
      }
    }
  }
}

.menu-item_active {
  background-color: #0b142d;
  border-left: 6px solid #685ed3;
  padding-left: 29px;

  .menu-item__title {
    color: #ffffff;
  }
}
.menu-item:hover {
  background-color: #0b142d;
  border-left: 6px solid #685ed3;
  padding-left: 29px;

  .menu-item__title {
    color: #ffffff;
  }

  .menu-item__icon {
    &_terminal {
      &_active, &_disabled {
        background-image: url(../assets/images/Terminal_icon_active.svg);
      }
    }
    &_marketplace {
      &_active, &_disabled {
        background-image: url(../assets/images/Marketplace_icon_active.svg);
      }
    }
    &_save {
      &_active, &_disabled {
        background-image: url(../assets/images/Saved_icon_active.svg);
      }
    }
    &_billing {
      &_active, &_disabled {
        background-image: url(../assets/images/Billing_icon_active.svg);
      }
    }
    &_profile {
      &_active, &_disabled {
        background-image: url(../assets/images/Profile_icon_active.svg);
      }
    }
    &_help {
      &_active, &_disabled {
        background-image: url(../assets/images/Help_icon_active.svg);
      }
    }
  }
}
