.smallProduct {
	display: flex;
  margin: 10px;
  background-image: linear-gradient(90deg, #5a3e81 0%, #352659 100%);  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23137254901960785);
  min-width: 400px;
  width: 400px;
  border-radius: 4px;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 400px) {
    width: 90%;
  }

  .mainBlock {
    padding: 30px;

    > .curHead {
      display: flex;
      color: white;
      font-size: 14px;

      .avatar {

        .initials {
          display: flex;
          width: 45px;
          height: 45px;
          border-radius: 100px;
          justify-content: center;
          align-items: center;
          background-image: linear-gradient(230deg, #F75DAC 47%, #996CED);
        }
      }

      .rightInfo {
        display: flex;
        flex: 1;
        max-width: 300px;
        overflow: hidden;

        > .curWrap {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-left: 10px;

          .item {
            font-weight: 500;

            &.nameProduct {
              color: rgb(176, 165, 255);
            }
          }
        }
      }

      .righRatingBlock {
        display: flex;
        align-items: space-between;
        flex-direction: column;
        justify-content: space-around;

        > .curTitle {
          display: flex;
          width: 100%;
          justify-content: space-between;
          color: rgba(255, 255, 255, 0.302);

          > .curValue {
            color: white;
          }
        }

        .score {
          width: 130px;
          height: 15px;
          border-radius: 2px;
          background: rgba(0,0,0,.3);
          overflow: hidden;
          position: relative;

          .filled {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;

            &.positive {
              background: #7bdc7b;
            }

            &.sadness {
              background: red;
            }
          }
        }
      }
    }

    .historyInfo {
      display: flex;
      color: white;
      font-size: 14px;
      margin-top: 20px;
      flex-direction: column;

      .infoExchange {
        display: flex;
        flex: 1;
        justify-content: space-between;
        color: #93abbd;

        .exchangeName {
          text-transform: uppercase;
        }

        .baseAsset {
          text-transform: uppercase;
        }
      }

      .historyBlock {
        margin-top: 20px;
        border: 1px solid rgba(148, 148, 148, 0.3215686274509804);
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .selectShowingTime {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .item {
          color: rgba(255, 255, 255, 0.402);
          background-color: rgba(202, 195, 195, 0.25);
          padding: 3px 5px;
          border-radius: 2px;
          cursor: pointer;
          opacity: 0.3;
          color: white;

          &.active {
            opacity: 1;
          }

          &.badpositive {background-color: #da7a7a;}
          &.positive {background-color: rgb(141, 198, 63);}
        }
      }
    }

    .infoContent {
      font-size: 13px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      .item {
        color: rgba(255, 255, 255, 0.402);
        align-items: center;
        display: flex;
      }
    }

    .moreClick {
      font-size: 13px;
      background-image: linear-gradient(to top, #7b489e, #ff69b0);
      color: white;
      padding: 5px 35px;
      display: inline-flex;
      border-radius: 100px;
      box-shadow: 1px 1px 2px rgba(0,0,0,.4);
      opacity: .8;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;

      &:hover {
        opacity: 1;
      }
    }
  }

  .settings {
    .iconHover {
      width: 30px; 
      height: 30px;
      background-color: rgb(90,62,129);
      background-image: linear-gradient( 90deg, rgb(90,62,129) 0%, rgb(53,38,89) 100%);
      border-radius: 100px;
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: -5px;
      z-index: 2;

      &:after {
        content: '';
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        background-image: url('~@assets/images/settingsIcon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
      }
    }

    .iconHover:hover + .menu {
      display: flex;
    }

    .menu {
      display: none;
      width: 200px;
      background-image: linear-gradient( 90deg, rgb(53,38,89) 0%, rgb(90,62,129) 100%);
      position: absolute;
      flex-direction: column;
      z-index: 2;
      right: 0;
      top: 0;

      &:hover {
        display: flex;
      }

      .item {
        text-align: center;
        padding: 10px 0;
        color: white;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    .settings {
      display: flex;
    }
  }
}

.smallProductAdd {
  max-width: 400px;
  font-size: 13px;

  .mainBlock {
    display: flex;
    flex-direction: column;

    .inputs {
      display: flex;
      flex-direction: column;

      input, select {
        color: white;
        margin: 2px 0;
        padding: 5px 10px;
        border: none;
        border-radius: 100px;
        background-color: rgba(0.27, 0.13, 0.39, .3);
      }

      select {
        height: 30px;
        border-radius: 100px;
      }
    }

    .onTopSigns {
      display: flex;
      margin-top: 5px;

      .item {
        cursor: pointer;
        padding: 5px 30px;
        background-color: rgba(0,0,0,.3);
        border-radius: 100px;
        margin: 5px;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          opacity: .5;
        }

        &.save {
          background-image: linear-gradient(to top, #7b489e, #ff69b0);
        }

        &.cancel {
          background-color: #f2f2f2;
          color: rgba(0,0,0,.3);
        }
      }
    }
  }
}

.parentEditingSmallProduct {
  position: relative;
  margin: 10px;
  z-index: 2;
  font-size: 13px;
  min-width: 400px;
  width: 400px;

  .settings {
    display: none;
  }

  .smallProduct {
    margin: 0;
  }

  .smallProductEdit {
    position: absolute;
    background-image: linear-gradient(90deg, #5a3e81 0%, #352659 100%);
    padding: 10px 20px;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .mainBlock {
      display: flex;
      flex-direction: column;
      width: 100%;

      .inputs {
        display: flex;
        flex-direction: column;

        input, select {
          color: white;
          margin: 2px 0;
          padding: 5px 10px;
          border: none;
          border-radius: 100px;
          background-color: rgba(0.27, 0.13, 0.39, .3);
        }

        select {
          height: 30px;
          border-radius: 100px;
        }
      }

      .onTopSigns {
        display: flex;
        margin-top: 5px;

        .item {
          cursor: pointer;
          padding: 5px 30px;
          background-color: rgba(0,0,0,.3);
          border-radius: 100px;
          margin: 5px;
          text-transform: uppercase;
          font-weight: 500;

          &:hover {
            opacity: .5;
          }

          &.save {
            background-image: linear-gradient(to top, #7b489e, #ff69b0);
          }

          &.cancel {
            background-color: #f2f2f2;
            color: rgba(0,0,0,.3);
          }
        }
      }
    }
  }
}

// .smallProductEdit, .smallProductAdd {
//   .mainBlock {
//     display: flex;
//     flex-direction: column;

//     .inputs {
//       display: flex;
//       flex-direction: column;

//       input {
//         margin: 2px 0;
//         padding: 5px 10px;
//         border: none;
//         border-radius: 5px;
//       }
//     }

//     .onTopSigns {
//       display: flex;

//       .item {
//         cursor: pointer;
//         padding: 5px 30px;
//         background-color: rgba(0,0,0,.3);
//         border-radius: 5px;
//         margin: 5px;
//       }
//     }
//   }
// }


