.terminal-head {
  width: 100%;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.03);
  margin-bottom: 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;

  &__stock-select {
    width: 125px;
  }

  &__pair-select {
    width: 131px;
  }

  &__type-select {
    width: 94px;
  }

  .select {
    background-color: transparent;
  }
}
