@import "../../common/Utils/Utils.scss";

.orders-limit {
  margin-left: 30px;
  &__btn-block {
    display: flex;
  }
  &__btn {
    width: 110px;
    height: 30px;
    background-color: #cebffe;
    @include font(Lato-Bold);
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
  }
  &__btn:hover {
    background-color: #8560fd;
  }
}
