.marketplace-page {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 10px 30px 30px;;
  width: 960px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  &__filter {
    margin-bottom: 30px;
  }
}
