.marketplace-page {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 10px 30px 30px;;
  width: 960px;
  border-radius: 5px;
  &__filter {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__card {
    background-image: url(../assets/images/grid_view.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;
  }
  &__card:hover {
    background-image: url(../assets/images/grid_view_deactive.png);
  }
  &__list {
    background-image: url(../assets/images/horizon_view.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;
  }
  &__list:hover {
    background-image: url(../assets/images/horizon_view_deactive.png);
  }
}
