@import "../Utils/Utils.scss";

.tabs, .tabs_order-list {
  .tabs {
    &__buttons-wrap {
      height: 30px;
      background-color: #f1f1f1;
    }

    &__button {
      display: inline-block;
      vertical-align: top;
      width: 90px;
      height: 30px;
      background-color: #cebffe;
      line-height: 30px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      @include font(Lato-Bold);

      &_active {
        background-color: #8560fd;
      }
    }
  }
}
