@import "../../common/Utils/Utils.scss";

.terminal-form {
  width: 100%;
  &__input-title {
    @include font(Geometria);
    font-size: 14px;
    line-height: normal;
    color: #888e9c;
    line-height: 20px;
    margin-bottom: 10px;
  }

  &__limit-wrap {
    margin-top: 15px;
    margin-bottom: 28px;
  }

  &__button {
    @include font(Geometria-Bold);
    height: 43px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    line-height: 43px;

    &_buy {
      background-color: rgba(137, 224, 125, 0.23);
    }

    &_sell {
      background-color: rgba(242, 109, 125, 0.23);
    }
  }
}
