@import "../../common/Utils/Utils.scss";

.terminal-form {
  width: 972px;
  height: 290px;
  background-color: #fff;
  &__caption {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;
    @include font(Lato-Bold);
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000
  }
  &__label {
    font-family: Lato;
    font-size: 14px;
    @include font(Lato-Bold);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__radio-button-block {
    display: flex;
    width: 972px;
    height: 40px;
    background-color: rgba(24, 37, 73, 0.05);
  }
  &__container-form {
    display: flex;
  }
  &__radio-button {
    display: flex;
    align-items: center;
    padding-left: 31px;
    &:last-child {
      display: none;
    }
  }
  &__radio {
    margin-right: 10px;
  }
  &__input-block {
    display: flex;
    justify-content: space-between;
    padding-left: 31px;
    margin-top: 10px;
  }
  &__input {
    width: 214px;
  }
  &__input-total {
    width: 440px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #dddddd;
    outline: none;
  }
  &__total-input-block {
    margin-top: 10px;
    padding-left: 31px;
  }
  &__button-buy {
    margin-top: 10px;
    margin-left: 31px;
    width: 440px;
    height: 40px;
    border-radius: 5px;
    background-color: #638ef7;
    @include font(Lato);
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
  }
  &__button-sell {
    margin-top: 10px;
    margin-left: 31px;
    width: 440px;
    height: 40px;
    border-radius: 5px;
    background-color: #ff4040;
    @include font(Lato);
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: none;
  }
}
.terminal-form__button-sell:hover {
  background: linear-gradient(#ff4040, #ff4040),
  linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}
.terminal-form__button-buy:hover {
  background: linear-gradient(#638ef7, #638ef7),
  linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}
