@import "../../common/Utils/Utils.scss";

.order-block {
  margin-top: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: rgba(29, 27, 40, 0.3);
  padding: 10px 15px 19px 15px;
  &__order-types {
    width: 100%;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }

  &__order-type {
    cursor: pointer;
    width: 143px;
    height: 43px;
    @include font(Lato);
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 43px;
    background-color: #302d48;

    &_active {
      background-color: #33304b;
    }

    &_buy {
      color: rgba(137, 224, 125, 0.4);
    }
    &_sell {
      color: rgba(242, 109, 125, 0.4);
    }
  }

  &__order-buttons {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
  }

  &__order-button {
    width: 100%;
    height: 43px;
    background-color: #403467;
    opacity: 0.3;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    @include font(Geometria);
    line-height: 43px;
    text-align: center;

    &_active {
      background-color: #403467;
      opacity: 1;
    }
  }

  &__form-wrap {
    margin-top: 20px;
  }
}

.order-block__order-type_sell.order-block__order-type_active {
  color: rgba(242, 109, 125, 1);
}
.order-block__order-type_buy.order-block__order-type_active {
  color: rgba(137, 224, 125, 1);

}
