@import "../../common/Utils/Utils.scss";

.open-order-list {
  width: 100%;
  padding: 14px 0;
  display: flex;
  overflow-y: auto;
  justify-content: space-between;
  @include font(Geometria);
  color: #888e9c;
  &__data-list {
    font-size: 12px;
    &_2nd-volume {
      margin-right: 20px;
    }
    &_origin {
      color: #f26d7d;
    }
  }
  &__price-list {
    font-size: 12px;
  }
  &__status-list {
    text-align: right;
    font-size: 12px;
    color: #ff4040;
  }
  &__time-list {
    font-size: 12px;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
