@import "../../common/Utils/Utils.scss";

.open-order-list {
  width: 100%;
  margin: 10px 20px;
  display: flex;
  overflow-y: auto;
  justify-content: space-between;
  &__data-list {
    width: 100px;
    margin-right: 40px;
    @include font(Lato-Bold);
    font-size: 12px;
    color: #000000;
  }
  &__price-list {
    width: 100px;
    margin-right: 40px;
    @include font(Lato);
    font-size: 12px;
    color: #8bc34a;
  }
  &__status-list {
    text-align: right;
    width: 100px;
    @include font(Lato);
    font-size: 12px;
    color: #ff4040;
  }
}
