@import "../../common/Utils/Utils.scss";

.product-page {
  &__head-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
  }
  &__strategy-name {
    @include font(Lato);
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__strategy-date {
    font-size: 18px;
    @include font(Lato-Light);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__exchange {
    @include font(Lato-Light);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__currency {
    @include font(Lato);
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__description-block {
    padding: 30px;
  }
  &__tittle {
    @include font(Lato-Bold);
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  &__description {
    @include font(Lato-Light);
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
}
