@import "../../common/Utils/Utils.scss";

.trader-stat {
  @include font(Geometria);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #888e9c;

  &__stat {
    color: #b0a5ff;
  }
  &__spaces {
    letter-spacing: 5px;
  }
}
