@import "../../common/Utils/Utils.scss";

.investor {
  width: 400px;
  display: flex;
  padding: 48px 32px 50px 25px;
  background-color: rgba(29, 27, 40, 0.3);
  justify-content: space-between;
  &__personal-info {
    @include font(Geometria-Light);
  }

  &__name {
    line-height: 1;
    font-size: 16px;
    color: #fff;
  }

  &__role {
    line-height: 1;
    margin-top: 11px;
    font-size: 14px;
    color: #888e9c;
  }
}
