@import "../Utils/Utils";

.unit {
  @include font(Geometria);

  &__title {
    color: #888e9c;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

  &_market {
    font-size: 14px;
  }
}
